{% extends 'base.html.twig' %}

{% block title %}Hello GroupController!{% endblock %}

{% block body %}


<main class="main-content">

        

    <!-- header -->
    <header class="header">
        <div id="carousel_main" class="carousel carousel-header slide carousel-fade fl-scn" data-ride="carousel">
          <!-- Indicators -->
          <div class="po_carousel__wrapper">
              <ol class="list-unstyled carousel-indicators def po_carousel-indicators">
                <li data-target="#carousel_main" data-slide-to="0" class=""></li>
                <li data-target="#carousel_main" data-slide-to="1" class=""></li>
                <li data-target="#carousel_main" data-slide-to="2" class="active"></li>
              </ol>
          </div>
          <!-- Carousel items -->
          <div class="carousel-inner a-cont">
            <!-- carousel-item -->
            <div class="carousel-item active">
              <div class="h-fullscreen__page bs-c br-n ow-h" style="background-image: url(../front_office/assets/img/content/carousel/slide_01.jpg);">
                <div class="w-100 d-flex jc-c overlay">
                  <!-- sm-overlay -->
                  <div class="overlay bg-light_A-20 d-lg-none"></div>
                  <div class="overlay bg-dark_A-50 d-lg-none"></div>
                  <!-- lg-overlay -->
                  <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape__light light_A-2" data-carousel-animation="fade"></div>
                  <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape ad-200ms" data-carousel-animation="fade"></div>
                </div>
                <div class="d-flex align-items-center h-100">
                  <div class="container">
                    <div class="row align-items-center h-100">
                      <div class="col-10 mr-auto ml-lg-0 col-lg-5">
                        <div class="main_carousel__content ad-900ms fadeIn text-light px-8 px-md-6 mx-lg-4 mx-xl-0">
                          <h2 class="carousel__heading text-light fadeInDown ad-500ms">God's eye</h2>
                          <p class="carousel__text lead-1 mb-6 fadeInDown ad-600ms">Class aptent taciti sociosqu ad litora torquent per conubia, per inceptos himenaeos. Quisque gravida eu lacus et consequat. Interdum et malesuada fames ac ante, ipsum primis in faucibus mollis.</p>
                          <div class="d-flex fadeInLeft ad-900ms">
                          <a class="disabled btn btn-lg bg-dark_A-50 o-1 text-light br-round-0tr br-round-0br parallelogram un_text mb-0"><span class="d-block text-warning"><span class="carousel__discount td-lt text-light">349$</span> 299$</span></a>
                          <a href="store-product.html" class="btn btn-lg btn-light parallelogram br-round-0tl br-round-0bl un_text mb-0"><span class="d-block">Buy</span></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.carousel-item -->
  
            <!-- carousel-item -->
            <div class="carousel-item">
              <div class="h-fullscreen__page bs-c br-n ow-h" style="background-image: url(../front_office/assets/img/content/carousel/slide_02.jpg);">
                <div class="w-100 d-flex jc-c overlay">
                  <!-- sm-overlay -->
                  <div class="overlay bg-light_A-20 d-lg-none"></div>
                  <div class="overlay bg-dark_A-50 d-lg-none"></div>
                  <!-- lg-overlay -->
                  <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape__light light_A-2" data-carousel-animation="fade"></div>
                  <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape ad-200ms" data-carousel-animation="fade"></div>
                </div>
                <div class="d-flex align-items-center h-100">
                  <div class="container">
                    <div class="row align-items-center h-100">
                      <div class="col-10 mr-auto ml-lg-0 col-lg-5">
                        <div class="main_carousel__content ad-900ms fadeIn text-light px-8 px-md-6 mx-lg-4 mx-xl-0">
                          <h2 class="carousel__heading text-light fadeInDown ad-500ms">Cybercity 2056</h2>
                          <p class="carousel__text lead-1 mb-6 fadeInDown ad-600ms">Class aptent taciti sociosqu ad litora torquent per conubia, per inceptos himenaeos. Quisque gravida eu lacus et consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                          <div class="d-flex fadeInLeft ad-900ms">
                          <a class="disabled btn btn-lg bg-dark_A-50 o-1 text-light br-round-0tr br-round-0br parallelogram un_text mb-0"><span class="d-block text-warning"><span class="carousel__discount td-lt text-light">220$</span> 199$</span></a>
                          <a href="store-product.html" class="btn btn-lg btn-light parallelogram br-round-0tl br-round-0bl un_text mb-0"><span class="d-block">Buy</span></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.carousel-item -->
  
            <!-- carousel-item -->
            <div class="carousel-item">
              <div class="h-fullscreen__page bs-c br-n ow-h" style="background-image: url(../front_office/assets/img/content/carousel/slide_03.jpg);">
                <div class="w-100 d-flex jc-c overlay">
                  <!-- sm-overlay -->
                  <div class="overlay bg-light_A-20 d-lg-none"></div>
                  <div class="overlay bg-dark_A-50 d-lg-none"></div>
                  <!-- lg-overlay -->
                  <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape__light light_A-2" data-carousel-animation="fade"></div>
                  <div class="d-none d-lg-block position-absolute triangle-bottomleft a-out carousel-shape ad-200ms" data-carousel-animation="fade"></div>
                </div>
                <div class="d-flex align-items-center h-100">
                  <div class="container">
                    <div class="row align-items-center h-100">
                      <div class="col-10 mr-auto ml-lg-0 col-lg-5">
                        <div class="main_carousel__content ad-900ms fadeIn text-light px-8 px-md-6 mx-lg-4 mx-xl-0">
                          <h3 class="carousel__heading text-light fadeInDown ad-500ms">The darkness within me</h3>
                          <p class="carousel__text lead-1 mb-6 fadeInDown ad-600ms">Class aptent taciti sociosqu ad litora torquent per conubia, per inceptos himenaeos. Quisque gravida eu lacus et consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                          <div class="d-flex fadeInLeft ad-900ms">
                          <a class="disabled btn btn-lg bg-dark_A-50 o-1 text-light br-round-0tr br-round-0br parallelogram un_text mb-0"><span class="d-block text-warning"><span class="carousel__discount td-lt text-light">250$</span> 229$</span></a>
                          <a href="store-product.html" class="btn btn-lg btn-light parallelogram br-round-0tl br-round-0bl un_text mb-0"><span class="d-block">Buy</span></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.carousel-item -->
          </div>
          <!-- Carousel nav -->
          <div class="carousel-control-prev a-out-t"><a class="text-light" href="#carousel_main" data-slide="prev"><span class="icon-cl-prev text-shadow pe-7s-angle-left"></span></a></div>
          <div class="carousel-control-next a-out-t"><a class="text-light" href="#carousel_main" data-slide="next"><span class="icon-cl-next text-shadow pe-7s-angle-right"></span></a></div>
        </div>
      </header>
      <!-- /.header -->
  
    <!-- Start Content Area -->
    <section class="content-section owl-carousel-spotlight carousel-spotlight ig-carousel text-light" style="background-image: url(../front_office/assets/img/bg/bg_shape.png);">
        <div class="container">
            <header class="header">
                <h2>Most popular products</h2>
            </header>
            <div class="position-relative">
                <!-- nav tabs -->
                <ul class="spotlight-tabs spotlight-tabs-dark nav nav-tabs border-0 mb-5 position-relative text-nwp flex-nowrap" id="most_popular_products-carousel" role="tablist">
                    <li class="nav-item text-fnwp pg-none relative">
                        <a class="nav-link active" id="mp-01-tab" data-toggle="tab" href="#mp-01-c" role="tab" aria-controls="mp-01-c" aria-selected="true">New</a>
                    </li>
                    <li class="nav-item text-fnwp relative">
                        <a class="nav-link" id="mp-02-tab" data-toggle="tab" href="#mp-02-c" role="tab" aria-controls="mp-02-c" aria-selected="false">Highlights</a>
                    </li>
                    <li class="nav-item text-fnwp relative">
                        <a class="nav-link" id="mp-03-tab" data-toggle="tab" href="#mp-03-c" role="tab" aria-controls="mp-03-c" aria-selected="false">Coming Soon</a>
                    </li>
                </ul>
                <!-- tab panes -->
                <div id="color_sel_Carousel-content" class="tab-content fl-scn relative w-100">

                    <!-- tab item -->
                    <div class="tab-pane fade show active" id="mp-01-c" role="tabpanel" aria-labelledby="mp-01-tab">
                        <div class="owl-carousel gs-carousel" data-carousel-margin="30" data-carousel-nav="true" data-carousel-navText="<span class='icon-cl-next pe-7s-angle-left'></span>, <span class='icon-cl-next pe-7s-angle-right'></span>">
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_01.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Creature 2020</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€24.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_02.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Shadow Leap</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€22.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_03.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">MechaOne: New Gen.</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_04.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Death Stranding: Golden Mask</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_05.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">ONI Deluxe Edition</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€41.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_06.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Engineer</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€41.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- tab item -->
                    <div class="tab-pane fade" id="mp-02-c" role="tabpanel" aria-labelledby="mp-02-tab">
                        <div class="owl-carousel gs-carousel" data-carousel-margin="30" data-carousel-nav="true" data-carousel-navText="<span class='icon-cl-next pe-7s-angle-left'></span>, <span class='icon-cl-next pe-7s-angle-right'></span>">
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_03.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">MechaOne: New Gen.</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_04.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Death Stranding: Golden Mask</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_01.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Creature 2020</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€24.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_02.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Shadow Leap</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€22.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_03.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">MechaOne: New Gen.</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_04.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Death Stranding: Golden Mask</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_05.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">ONI Deluxe Edition</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€41.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_06.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Engineer</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€41.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- tab item -->
                    <div class="tab-pane fade" id="mp-03-c" role="tabpanel" aria-labelledby="mp-03-tab">
                        <div class="owl-carousel gs-carousel" data-carousel-margin="30" data-carousel-nav="true" data-carousel-navText="<span class='icon-cl-next pe-7s-angle-left'></span>, <span class='icon-cl-next pe-7s-angle-right'></span>">
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_05.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">ONI Deluxe Edition</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€41.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_06.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Engineer</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€41.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_01.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Creature 2020</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€24.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_02.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Shadow Leap</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€22.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_03.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">MechaOne: New Gen.</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-cont">
                                    <figure class="owl_item_review">
                                        <div>
                                            <div class="position-relative overflow-hidden">
                                                <img class="m-0-auto" src="../front_office/assets/img/content/cont/cg_04.jpg" alt="Games Store">
                                                <div class="review_h text-light">
                                                    <a href="store-product.html">
                                                        <i class="item_icon_cart fas fa-shopping-cart"></i>
                                                        <span class="item_atc_text">Add to cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="owl_item_title text-lt"><a href="store-product.html">Death Stranding: Golden Mask</a></h5>
                                                <div class="relative small-1">
                                                    <span class="owl_item_price">€44.99</span>
                                                    <span class="owl_item_genre">
                                Action, Adventure
                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End Content Area -->

    <!-- Start Content Area -->
    <section class="section gs_features">
        <div class="row no-gutters">
            <div class="col-xl-6 col-12 py-8 px-4 px-sm-8 py-md-9 px-md-9 br-n bs-c effect-wrapper effect-grayscale position-relative hover" style="background-image: url('../front_office/assets/img/content/cont/cg-fl_01.jpg');">
                <div class="overlay bg-light_A-90 d-md-none"></div>
                <div class="row h-100 align-items-center content">
                    <div class="col-12 col-md-8 ml-auto text-secondary text-md-right">
                        <small class="d-block text-uppercase fw-600 ls-3">New</small>
                        <h2 class="mb-4">An Incredible Journey</h2>
                        <span class="d-block text-uppercase ls-3 mb-6">Only On Wicodus</span>
                        <a href="store-product.html" class="btn btn-lg btn-outline-secondary btn-round">Explore</a>
                    </div>
                </div>
                <figure class="d-none d-md-block effect-layla effect-layla-dark"></figure>
            </div>
            <div class="col-xl-6 col-12 py-8 px-4 px-sm-8 py-md-9 px-md-9 br-n bs-c" style="background-image: url('../front_office/assets/img/content/cont/cg-fl_03.jpg');" data-overlay="7">
                <div class="row align-items-center h-100">
                    <div class="col-sm-6 col-md-4 mb-5 mb-md-0">
                        <figure class="position-relative my-0">
                            <div style="background-image: url('../front_office/assets/img/content/cont/cg_07.jpg');" class="main-fb-product bs-c bp-c br-n">
                                <div class="position-absolute t-0 r-0 px-4 py-1 bg-danger text-white text-uppercase fw-600">-50%</div>
                                <div class="position-absolute b-0 w-100 text-center">
                                    <div data-countdown="2021/01/25 12:34:56" class="countdown-coupon bg-dark_A-50 py-3 text-light fw-700 timer"></div>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="col-md-8 text-light">
                        <h2 class="text-light mb-4">Informant</h2>
                        <p class="mb-7">Mauris euismod aliquam erat, a vestibulum tortor bibendum sit amet. Duis vitae augue non dolor fermentum faucibus non quis justo. Sed consequat accumsan turpis et semper. Nulla blandit blandit est, nec tincidunt neque sollicitudin vitae.</p>
                        <a href="store-product.html" class="btn btn-lg btn-danger btn-round"><i class="fa fa-shopping-cart mr-5" aria-hidden="true"></i>Buy</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xl-6 py-8 px-4 px-sm-8 py-md-9 px-md-9 bs-c" style="background-image: url('../front_office/assets/img/content/cont/cg-fl_04.jpg');" data-overlay="7">
                <div class="row align-items-center h-100">
                    <div class="col-sm-6 col-md-4 order-md-2 mb-6 mb-md-0">
                        <figure class="position-relative my-0">
                            <div style="background-image: url('../front_office/assets/img/content/cont/cg_08.jpg');" class="main-fb-product bs-c bp-c br-n">
                                <div class="position-absolute t-0 r-0 px-4 py-1 bg-danger text-white text-uppercase fw-600">-72%</div>
                                <div class="position-absolute b-0 w-100 text-center">
                                    <div data-countdown="2021/02/11 12:34:56" class="countdown-coupon bg-dark_A-50 py-3 text-light fw-700 timer"></div>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="col-md-8 order-md-1 text-light text-md-right">
                        <h2 class="mb-4">Haku Recalibration</h2>
                        <p class="mb-7">Mauris euismod aliquam erat, a vestibulum tortor bibendum sit amet. Duis vitae augue non dolor fermentum faucibus non quis justo. Sed consequat accumsan turpis et semper. Nulla blandit blandit est, nec tincidunt neque sollicitudin vitae.</p>
                        <a href="store-product.html" class="btn btn-lg btn-danger btn-round"><i class="fa fa-shopping-cart mr-5" aria-hidden="true"></i>Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-12 py-8 px-4 px-sm-8 py-md-9 px-md-9 bs-c effect-wrapper effect-grayscale position-relative hover" style="background-image: url('../front_office/assets/img/content/cont/cg-fl_02.jpg');">
                <div class="overlay bg-light_A-90 d-md-none"></div>
                <div class="row h-100 align-items-center content">
                    <div class="col-12 col-md-6 mr-auto text-secondary text-left">
                        <small class="d-block text-uppercase fw-600 ls-3">Action</small>
                        <h2 class="mb-4">Shark Project</h2>
                        <span class="d-block lead-1 text-uppercase ls-3 mb-7">An amazing experience from beginning to end.</span>
                        <a href="store-product.html" class="btn btn-lg btn-outline-secondary btn-round">Explore the Sky</a>
                    </div>
                </div>
                <figure class="d-none d-md-block effect-layla effect-layla-dark"></figure>
            </div>
        </div>
    </section>
    <!-- End Content Area -->

    <!-- Start Content Area -->
    <section class="content-section text-light" style="background: linear-gradient(to bottom, #111931 0%, #0f131e 100%);">
        <div class="container">
            <header class="header text-left">
                <h2 class="mb-6">Latest News</h2>
            </header>
            <div class="row">
                <!-- Post -->
                <div class="col-12 mb-8">
                    <div class="row">
                        <div class="col-lg-4 mb-6 mb-lg-0">
                            <div class="card">
                                <div class="img__news_wrapper"><img src="../front_office/assets/img/content/img_01.jpg" alt="News"></div>
                                <div class="badges badges-left badges-bottom text-white">
                                    <div class="rating_circle-wrapper">
                        <span class="rating_circle-foreground">
                            <span class="rating_circle-number">9.7</span>
                        </span>
                                        <span class="rating_circle" data-rating-total="9"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <h4 class="text-uppercase mb-3"><a href="#">Magnis developers speak out on 'death march'</a></h4>
                            <div class="mb-3 small text-info">
                                <span><i class="fas fa-tags"></i> Cras quis lacus dolor, Quisque dictum sollicitudin</span> <span class="mx-1">-</span> <span>4th October 2021</span>
                            </div>
                            <p>Donec vestibulum, odio a sagittis vestibulum, eros nunc consectetur ex, eu tincidunt neque lacus ac lorem. Mauris interdum urna id eros dignissim convallis. Aliquam convallis, nisi in facilisis tincidunt, augue nunc efficitur lectus, ut auctor orci purus sed neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            <a href="news.html" class="btn btn-outline-light">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Post -->
                <div class="col-12 mb-8">
                    <div class="row">
                        <div class="col-lg-4 mb-6 mb-lg-0">
                            <div class="card">
                                <div class="img__news_wrapper"><img src="../front_office/assets/img/content/img_02.jpg" alt="News"></div>
                                <div class="badges badges-left badges-bottom text-white">
                                    <div class="rating_circle-wrapper">
                        <span class="rating_circle-foreground">
                            <span class="rating_circle-number">7.4</span>
                        </span>
                                        <span class="rating_circle" data-rating-total="7"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <h4 class="text-uppercase mb-3">Get Consectetur in the new Humble Bundle</h4>
                            <div class="mb-3 small text-info">
                                <span><i class="fas fa-tags"></i> Cras quis lacus dolor, Quisque dictum sollicitudin</span> <span class="mx-1">-</span> <span>4th October 2021</span>
                            </div>
                            <p>Donec vestibulum, odio a sagittis vestibulum, eros nunc consectetur ex, eu tincidunt neque lacus ac lorem. Mauris interdum urna id eros dignissim convallis. Aliquam convallis, nisi in facilisis tincidunt, augue nunc efficitur lectus, ut auctor orci purus sed neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            <a href="news.html" class="btn btn-outline-light">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Post -->
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-4 mb-6 mb-lg-0">
                            <div class="card">
                                <div class="img__news_wrapper"><img src="../front_office/assets/img/content/img_03.jpg" alt="News"></div>
                                <div class="badges badges-left badges-bottom text-white">
                                    <div class="rating_circle-wrapper">
                        <span class="rating_circle-foreground">
                            <span class="rating_circle-number">8.2</span>
                        </span>
                                        <span class="rating_circle" data-rating-total="8"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <h4 class="text-uppercase mb-3">Parturient 2 comes with Dante's coat</h4>
                            <div class="mb-3 small text-info">
                                <span><i class="fas fa-tags"></i> Cras quis lacus dolor, Quisque dictum sollicitudin</span> <span class="mx-1">-</span> <span>4th October 2021</span>
                            </div>
                            <p>Donec vestibulum, odio a sagittis vestibulum, eros nunc consectetur ex, eu tincidunt neque lacus ac lorem. Mauris interdum urna id eros dignissim convallis. Aliquam convallis, nisi in facilisis tincidunt, augue nunc efficitur lectus, ut auctor orci purus sed neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            <a href="news.html" class="btn btn-outline-light">Read More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /.End Content Area -->

    <!-- banner -->
    <div class="content-section pt-0">
        <div class="container">
            <a href="#" class="d-block">
                <div class="position-relative br-n bs-cont bp-c" style="background-image: url(front_office/../front_office/assets/img/content/banner_01.jpg);">
                    <img src="../front_office/assets/img/content/banner_01.jpg" alt="banner" class="invisible" />
                </div>
            </a>
        </div>
    </div>
    <!-- /.banner -->


    </main>

    <!-- footer -->
{% endblock %}