{% extends 'base.html.twig' %}

{% block body %}

    <body class="page-body">

    <!-- navbar -->
    <!-- /.navbar -->

    <!-- main content -->
    <main class="checkout-order-body main-content gradient-lg position-relative">

        <!-- overlay -->
        <div class="overlay pe-n br-n bp-c bs-c o-30" style="background-image: url(assets/img/bg/bg_shape.png);"></div>
        <!-- /.overlay -->

        <!-- content area -->
        <div class="content-section text-light">
            <div class="container">
                <header class="header text-center mb-6">
                    <div class="row gutters-y">
                        <div class="col-12 pt-8">
                            <div class="timeline-horizontal">
                                <div class="timeline-item flex-1 p-0" data-step="&#xe60d;">
                                    <div class="pt-8 pb-7 px-2 px-sm-4 border-left border-bottom border-secondary">
                                        <span class="text-uppercase small-3 fw-600">Votre Panier</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </header>

            </div>
        </div>
        <!-- /.content area -->

    </main>

    <!-- footer -->

    <!-- /.footer -->

    <!-- sign Up -->

    <!-- /.sign Up -->

    <!-- offcanvas-cart -->
    <!-- /.offcanvas-cart -->


    </body>

{% endblock %}