{% extends 'base.html.twig' %}

{% block title %}AllCourses{% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_row(form.description) }}
<div style="margin-top: 1rem;"></div>
{{ form_row(form.Partagez) }}
{{ form_end(form) }}

{% endblock %}